In [305]:
import pandas as pd
import numpy as np
from scipy import stats # For in-built method to get PCC
import scipy
from sklearn.model_selection import KFold
import pingouin as pg
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
from zca import zca
zca = zca.ZCA()

In [307]:
target = 'Poverty'

all_data = pd.read_csv('../data/raw/states.csv')

scaler.fit(np.array(all_data[target]).reshape(-1, 1))

StandardScaler()

In [43]:
num_folds = 10
kfold = KFold(n_splits=num_folds, shuffle=True)
kfold.get_n_splits(all_data.index)

10

In [243]:
table = np.zeros(shape=(len(all_data.columns[1:]),1))

for train_index, test_index in kfold.split(all_data):
    subset = all_data.iloc[train_index]
    #subset = all_data.loc[:, ~all_data.columns.isin([target,'States'])]
    subset = all_data.iloc[train_index]
    n=len(subset)
    dist = scipy.stats.beta(n/2 - 1, n/2 - 1, loc=-1, scale=2)
    p = pd.DataFrame(2*dist.cdf(-abs(subset.pcorr()[target])))
    temp = pd.DataFrame(p.T)
    temp.columns = list(all_data.columns[1:])
    #print(temp.T.loc[np.array(temp.T<=.05)])
    table = (table + np.where(temp.T<=.05, 1, 0)).copy()
    #table.append(temp.T<=.05)
    #print(temp.T<=.05)
    
temp = pd.DataFrame(table.T)
temp.columns = list(all_data.columns[1:])
temp

,Poverty,Infant Mort,White,Crime,Doctors,Traf Deaths,University,Unemployed,Income,Population
0,10.0,0.0,10.0,0.0,0.0,10.0,0.0,8.0,10.0,7.0

In [340]:
threshold = .7
chosen = list(temp.T.loc[np.array(temp.T>=(len(all_data.columns[1:])*threshold))].index[1:])
dataSet = pd.concat([all_data[target],all_data[chosen]],axis=1)
t1 = pd.DataFrame(scaler.transform(np.array(dataSet[target]).reshape(-1, 1)))
t1.columns=[target]

In [341]:
pd.concat([t1,pd.DataFrame(zca.fit_transform(dataSet[chosen]),columns=chosen)],axis=1).pcorr()

              Poverty     White  Traf Deaths  Unemployed    Income  Population
Poverty      1.000000 -0.611186     0.207474    0.390783 -0.921306    0.365956
White       -0.611186  1.000000     0.126803    0.238841 -0.563089    0.223667
Traf Deaths  0.207474  0.126803     1.000000   -0.081081  0.191147   -0.075926
Unemployed   0.390783  0.238841    -0.081081    1.000000  0.360031   -0.143009
Income      -0.921306 -0.563089     0.191147    0.360031  1.000000    0.337157
Population   0.365956  0.223667    -0.075926   -0.143009  0.337157    1.000000